.featured {
    text-align: center;
}

.mr-auto {
    text-align: center;
}

.img {
    width: 200px;
}

.container {
    width: fit-content;
}

.card {
    background: #fff;
    border-radius: 2px;
    height: fit-content;
    margin: 1rem;
    position: relative;
    width: fit-content;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
  }
  

  .card > .img-container {
    
    overflow: hidden;
    text-align: center;
    background:#6CADDC;
  }
 

  .card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
  }

  .card > .content > ul {
    list-style-type: none;
  }

  .card > .content > ul > li {
    margin-top: 18px;
  }